<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xxd.clock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="15" />
    
    <!-- <uses-permission android:name="android.permission.DEVICE_POWER"/> -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE" />  
    
    <!-- umeng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
	<!-- umeng update -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name="q.util.AppBase"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DefaultStyle" >
        
        <!-- umeng -->
        <meta-data android:value="5032f18952701507b4000021" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="Test" android:name="UMENG_CHANNEL"/>
        
        <activity
            android:name=".MainA"
            android:label="小小闹钟" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".EditA" android:screenOrientation="portrait" />
        <activity android:name=".DialogCycleA" android:screenOrientation="portrait" android:theme="@style/DefaultAlertDialog" />
        <activity android:name=".DialogPickerYearMonthDayA" android:screenOrientation="portrait" android:theme="@style/DefaultAlertDialog" />
        <activity android:name=".DialogPickerHourMinA" android:screenOrientation="portrait" android:theme="@style/DefaultAlertDialog" />
        <activity android:name=".DialogPickerDayA" android:screenOrientation="portrait" android:theme="@style/DefaultAlertDialog" />
        <activity android:name=".DialogWeekA" android:screenOrientation="portrait" android:theme="@style/DefaultAlertDialog" />
        
        
        <activity 
            android:name=".TestA"
            ></activity>
        
        <service 
            android:name=".ServiceA"
            ></service>
    </application>

</manifest>